:where(.css-dev-only-do-not-override-12upa3x).ant-tree {
  background-color: #CEE1FA;
}

.available-machines {
  margin-top: 10px;
  background-color: #BCD3F3;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 18%;
  margin-left: 41%;
}

.title {
  font-size: 15px;
  font-weight: bold;
  color: #0d3b66;
}

.count {
  font-size: 20px;
  color: #D85031;
}

.layout{
 min-height: 100vh;
}
.content{
 padding: 0; 
 min-height: 500px; 
 background-color: #CEE1FA;
 padding-top: 1%;
}
.antFooter {
  background:  #CEE1FA; 
  color: #FF2E00;
  font-family: Sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 10%;
} 

.header {
  background-color: #CEE1FA;
  display: flex; 
  height:80px;
  margin-bottom:0px; 
}

.logo-img {
  height: 70px;
  padding-bottom: 20px;
  margin-top: 15px; 
  
}
.Tabs {
  margin-top: 30px;
}

.tabPane {
  display: block; 
  height: 100%; 
  color: #FF6600; 
  font-size: 18px;
  font-weight:bold;
  font-family: sans-serif;
}

.proceed {
  color: #FF2E00; 
  font-size: 25px;
  margin-top: 16px; 
}

.picView{
   width: 3%;
   margin-left: 1%;
   background-color: #FF6600;
   color: white;
}
.listView {
  width: 3%;  
  background-color: #FF6600; 
  color: white ; 
  margin-left:1px;
}

.search {
  width:18%; 
  margin-left: 27%; 
  margin-bottom: 1px;
}
.ant-input{
  background-color: #E4EEFC !important;
}

.ant-input::placeholder {
  color: #F37526 !important;
}

.ant-input-search-button {
  color: #F37526 !important;
  background-color: #E4EEFC !important;
 
}


.sorting .ant-select-selector{
  width:12%; 
  margin-right: 10px; 
  color: #F37526;
  background-color: #E4EEFC !important;
  max-width: 200px;

}


.create-new-machine-btn {
  margin-left: 13%; 
  color: white; 
  border: 1px solid lightGrey;
  background-color: #F37526;
}

.machine-page-display-name{
  text-align: center; 
  color: #0d3b66 ;
  
}

.home-btn{
    width: 4%;
    border: none;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 5px;
    color: white;
    background-color:#F37526;
  
}


.download-btn {
  color: white; 
  background-color: #FF6600;
  border: 1px solid lightGrey;
  
}

.machine-page-layout{
    display: flex;
    max-width: 1200px;
    background-color:#CEE1FA;
    margin-left: 1%;
}
 
.aas-card {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.aas-card:hover {
  transform: scale(1.1);
}

.image-container {
  position: relative;
}

.aas-image {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.aas-card:hover .aas-image {
  opacity: 0;
}


.imgCard {
  width: 100%;
  background-color: #CEE1FA;
}

.divCard{
 width: 100%;
 height: 100%;
 overflow: hidden; 
 display: flex; 
 justify-content: center; 
 align-items: center;
}

.CardMeta {
  position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
}
.meta {
    text-align: center;
}
.cardRows {
  padding-left: 2%;
  padding-right: 3%;
  padding-top: 2% ;
} 

.detailsBox{
  background-color: #CEE1FA;
}

.environmentRows{
  padding-left: 3%;
  padding-right:3%;
}

.environmentDiv{
  display: flex;
  border: 1.5px solid #002766;
  min-height: 300px;
}

.fileUploader-btn{
  background-color: #F37526; display: inline-block;
  border: none;cursor: pointer; text-align : center; width: 90px;height: 31px; margin-left: 5px;
  padding: 5px; border-radius: 5px; border: 1px solid lightGrey;
}

.fileUploader-input {
  max-width: 0%;
}

.machinePage-img {
  max-height: 250px;
  max-width: 220px;
  min-height: 220px;
  min-width: 220px;
  border: 1px solid lightGrey;
  border-radius: 5px;
}

.machinePage-div {
  display: flex; 
  background-color:"#CEE1FA";
  margin-left: 2%
}

.MyTree-div {
  display: flex;
  min-height: 250px;
  background-color: #CEE1FA
}

.chartsTitle{
  font-size: 16px; font-weight: bold; color: #0d3b66; margin-left: 20%;
  margin-bottom: 30px
}

.chartsCol{
  margin-top: 50px; 
}








/*****************************
        Media query
******************************/

/* Small screen / phone */
@media (min-width: 576px) {
  .save-btn {
    margin-left: 40%;
  }
  .proceed {
    font-size: 20px;
    margin-left: 5%;
  }
  .logo-img {
    height: 50px;
  }
  .tabPane {
    font-size: 14px;
  }
  .create-new-machine-btn {
    margin-left: 1%; 
  }
  .search {
    margin-left: 1%; 
  }
  .imgCard {
    margin-top: 15%;
  }
  .machine-page-display-name{
    size: 20px;
  }
  .download-btn {
    margin-left: 46%;
  }
  .blankSpace1 {
    min-width: 0px;
  }
  .blankSpace2 {
    min-width: 2%;
  }
  .detailsBox {
    max-width: 60%;
  }
}

/* Medium screen / tablet */
@media (min-width: 768px) {
  .proceed {
    font-size: 23px;
  }
  .logo-img {
    height: 60px;
  }
  .tabPane {
    font-size: 16px;
  }
  .search {
    margin-left: 10%; 
  }
  .create-new-machine-btn {
    margin-left: 1%; 
  }
  .save-btn {
    margin-left: 50%;
  }
  .machine-page-display-name{
    size: 21px;
  }
  .download-btn {
    margin-left: 52%;
  }
  .blankSpace1 {
    min-width: 0px;
  }
  .blankSpace2 {
    min-width: 2%;
  }
  .detailsBox {
    max-width: 65%;
  }
}

/* Large screen / desktop */
@media (min-width: 992px) {
  .save-btn {
    margin-left: 67%;
  }
  .create-new-machine-btn {
    margin-left: 12%; 
  }
  .search {
    margin-left: 29%; 
  }
  .tabPane{
    margin-left: 9%;
  }
  .temp{
    margin-left: 6.5%;
  }
  .temp2{
    margin-right: 2%;
  }
  .machine-page-display-name{
    font-size: 23px;
  }
  .download-btn {
    margin-left: 70%;
  }
  
  .blankSpace1 {
    min-width: 8%;
  }
    
  .blankSpace2 {
    min-width: 5%;
  }
  
.box {
  min-width: 80%;
}
}